@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: var(--font-display);
  --animate-shimmer: shimmer 1.5s infinite;
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
